/* Make your custom overrides here. This file will not be updated by Radiant */
.version {text-indent:-9999px;}
#pages .page{clear:both;}
#pages .page .attributes {position:relative;margin:5px 0;border-bottom: 1px solid #EEEEEE;}
.attributes:hover {background-color:#e0f0ff;}
.attribute a{text-decoration:none;}
#pages .node{}
#pages .status {position:absolute;right:200px;top:0px;}
#pages .draft_status{padding:0px 20px;display:inline-block;}
#pages .actions {position:absolute;right:20px;}