<div id="cse" style="width: 100%;">Loading</div>

<style type="text/css" media="screen">
	.gsc-thinWrapper {width:100% !important;}
</style>

<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
cse_inited = true;
google.load('search', '1', {language : '<%=I18n.locale%>', style : google.loader.themes.GREENSKY});
google.setOnLoadCallback(function() {
	var customSearchControl = new google.search.CustomSearchControl('008039657822625578505:z21dowvpmlg');
	// var customSearchControl = new google.search.CustomSearchControl('008039657822625578505:60pqrtf_wbi');
	customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
	var options = new google.search.DrawOptions();
	options.setSearchFormRoot('cse-search-form');
	customSearchControl.draw('cse',options);
	customSearchControl.execute(querySt("q"));
	}, true);
</script>