@charset "utf-8";
/* CSS Document */

body { font-family: Arial, Helvetica, sans-serif, "微软雅黑"; font-size:12px; color:#333333; background:#ebebeb }
a { color:#333333; text-decoration:none; }
a:hover { color:#47af2f; text-decoration:none; }
div, form, img, ul, ol, li, dl, dt, dd { margin: 0; padding: 0; border: 0; }
body, div, ul, li, form, table, ol, dl, dt, dd { margin:0px; padding:0px; list-style:none; border:0px; }
.blank0 { margin:0 auto; width:100%; height:0px; font-size:0px; line-height:0px; clear:both }
.img { border:0; margin:0px; padding:0px; }
.font01 { color:#333333; text-decoration:none; }
.font01:hover { color:#333333; text-decoration:none; }
.font02 { color:#47af2f; text-decoration:none; }
.form { border:1px solid #666666; }
#bg { background: url(/images/idea.blue.jpg) repeat-x #ebebeb; ; }
#idea { width:960px; margin:auto; }
.sides { width:8px; float:left; }
.idea { width:944px; float:left; }
.search { width:100%; height:32px; overflow:hidden; }
.search table { width:200px; height:32px; float:right; }
.header { width:944px; height:85px; background:url(/images/headerbg.jpg) no-repeat; }
.logo { width:130px; height:85px; float:left; margin:0 30px 0 35px; display:inline; }


.flash { width:944px; height:286px; }
.content { width:944px; background:#FFF url(/images/contentbg.jpg) no-repeat bottom; padding:25px 0 10px 0; }
.video { width:279px; float:left; margin-left:20px; display:inline; }
.title { width:100%; height:18px; background:url(/images/navsides.gif) no-repeat left; line-height:18px; margin-bottom:10px; }
.title b { margin-left:12px; font-size:14px; }
.videoflash { width:279px; height:182px; }
.videotitle { width:279px; margin-top:10px; }
.products { width:580px; float:left; margin-left:25px; display:inline; }
.products01 { width:100%; margin-bottom:21px; }
.products01_a { width:190px; margin-right:3px; display:inline; float:left; }
.products01_a_img { width:164px; height:109px; padding:12px 13px; background:url(/images/index.img.jpg) no-repeat; }
.products01_a_intro { width:174px; height:40px; line-height:20px; padding:0 8px; color:#666; }
.more { background:url(/images/plus.gif) no-repeat 0 5px; padding-left:15px; width:50px; margin-top:1.2em; color:#47af2f; line-height:20px; float:right; margin-right:8px; display:inline; }
.news { width:280px; float:left; margin-left:25px; display:inline; }
.list { border-bottom:1px dotted #666666; line-height:20px; padding:2px 0; color:#666; }
.list a { color:#666; }
.list a:hover { color:#47af2f; }
.list span { display:block; float:left; }
.line { margin:0 6px; }
.newstitle { width:210px; display:block; float:left; }
.newsmore { height:20px; margin-top:10px; }
.newsmore span { float:right; display:block; }
.footer { width:100%; height:30px; line-height:30px; }
.footernav { float:left; }
.footernav a { margin:0 8px; }
.copyright { float:right; }
.chanpin01 { width:386px; height:20px; text-align:center; line-height:20px; float:left; }
/*2j*/
#bg2j { background: url(/images/2jbg.blue.jpg) repeat-x #ebebeb; }
.picture { width:944px; height:136px; }
.content2j { width:944px; background:#FFF url(/images/contentbg.jpg) no-repeat bottom; padding:15px 0 35px 0; }
.left { width:211px; margin:0 10px 100px 10px; float:left; display:inline; }
.left span { display:block; margin-bottom:0px; }
.leftnav { background:#eeeeee; padding:7px 10px 15px 10px; }
.leftnav01 { height:20px; line-height:20px; font-size:14px; font-weight:bold; margin-bottom:10px; padding-left:5px; }
.leftnav02 ul { margin-left:20px; }
.leftnav03 li { background:url(/images/2j05_off.jpg) no-repeat 5px 10px; height:30px; line-height:30px; padding-left:25px; border-bottom:0px dotted #666; }
.right { width:649px; float:left; padding:0px 0px 60px 0px; display:inline; margin-left:20px; }
.right p { line-height:20px; margin:10px 0px; text-indent:24px; }
.righttitle { line-height:20px; font-weight:bold; font-size:13px; color:#47af2f; }
.righttitle01 { line-height:24px; font-weight:bold; margin:0px; padding:5px 0px; }
.righttitle02 { line-height:24px; font-weight:bold; margin:0px; padding:5px 0px; }
.numeral { line-height:22px; padding:3px 0px; margin:0px; }
.numeral b { color:#47af2f; margin-right:8px; }
.togglecontent { border-top:1px solid #999; width:605px; margin:0px; padding-top:5px; }
.togglecontent p { text-align:justify; }
.img { text-align:center; margin:8px 0px; }
.footnote { font-size:11px !important; color:#333 !important; }
.imgintext { width:200px; margin-left:10px; margin-bottom:10px; padding:5px; text-align:center; float:right; clear:both; background-color:white; line-height:16px; border-bottom:2px solid #cbc9bd; border-right:2px solid #cbc9bd; border-top:1px solid #ebe8d7; border-left:1px solid #ebe8d7; }
ul.normal li { list-style:square outside; margin-left:12px; }
.imgintext01 { width:300px; margin-left:10px; margin-bottom:10px; padding:5px; border-bottom:2px solid #cbc9bd; border-right:2px solid #cbc9bd; border-top:1px solid #ebe8d7; border-left:1px solid #ebe8d7; text-align:center; float:right; clear:both; background-color:white; line-height:16px; }
.imgintext02 { width:200px; margin:10px 20px 20px 20px; float:left; padding:5px; text-align:center; background-color:white; line-height:16px; border-bottom:2px solid #cbc9bd; border-right:2px solid #cbc9bd; border-top:1px solid #ebe8d7; border-left:1px solid #ebe8d7; display:inline;}
.righttitle03 { line-height:26px; margin-left:12px; +margin-left:0px;
_margin-left:0px; color:#999; }
.imgintext02a { width:190px; margin:10px 5px 20px 5px; float:left; padding:5px; text-align:center; background-color:white; line-height:16px; border-bottom:2px solid #cbc9bd; border-right:2px solid #cbc9bd; border-top:1px solid #ebe8d7; border-left:1px solid #ebe8d7; display:inline;}
.imgintext02b { width:190px; margin:10px 5px 0px 5px; float:left; padding:5px; text-align:center; background-color:white; line-height:16px; border-bottom:2px solid #cbc9bd; border-right:2px solid #cbc9bd; border-top:1px solid #ebe8d7; border-left:1px solid #ebe8d7; display:inline;}
.imgcentered { clear:both; margin:auto; padding:5px; border-bottom:2px solid #cbc9bd; border-right:2px solid #cbc9bd; border-top:1px solid #ebe8d7; border-left:1px solid #ebe8d7; text-align:center; background-color:white; }
.rmtable { line-height:24px; text-align:center; background:#dfd9c3; margin:20px 0px 0 25px;}
.rmtable01 { background:#dfd9c3; margin:20px 0px 0 0px; height:41px; background:url(/images/formbg.jpg) ;}
.rmtable02 { line-height:30px; margin:10px 0px 0 0px;}
.rmtable02 a { color:#47b030; margin-left:10px;}
.job { width:640px;}
.job ul { margin:10px;}
.job li { line-height:30px; border-bottom:1px dotted #CCC; }
.job a { color:#47b030; margin-left:10px; }
.job span { float:left; display:block;}
.job01 { width:640px; text-align:center; font-size:14px; font-weight:bold; margin:20px auto 10px auto; border-top:1px solid #47b030; line-height:40px;}
.job01 a { color:#47b030; margin-left:10px;}
.job02 { height:20px; line-height:20px; width:630px; margin:15px auto; background:#47b030; color:#FFF; font-weight:bold; padding:0px 5px;}
.job03 { width:630px; padding:0px 5px; margin:auto;}
.job03 ul { margin:5px 0px;}
.job03 li { line-height:18px; margin:10px 0px; background:url(/images/2j07.jpg) no-repeat 5px 8px; padding-left:15px; }
.job03 span { display:block; line-height:18px;}
li.current, li.current a { color:green; }
.team { width:200px; height:200px; float:left; margin:5px; display:inline; }
.team_pic { width:160px; height:148px; padding:11px 27px 0 13px; background:url(/images/team.pic.bg.jpg) no-repeat ;}
.team_tittle { width:160px; height:41px; padding:0px 27px 0 13px; background:url(/images/team.tittle.bg.jpg) no-repeat ; text-align:center; line-height:30px;}
.leftnav li.current { background-image:url(/images/2j05.jpg); }
a.disabled { color:#999; }
/*news list*/
.newslist li { clear:both; padding:5px 0 5px 0; border-bottom:1px dashed #cccccc; margin:10px 0; overflow:hidden; }
.newslist li span { color:green; float:left; line-height:20px; display:block; }
.newslist li h1 { font-size:14px; margin:0; margin-left:120px; font-weight:normal; line-height:20px; }
.newslist li h2 { font-size:11px; margin:0; color:#666; margin-left:120px; margin-top:5px; font-weight:normal; }
.image_thumb_list {margin-left:120px;}
.image_thumb_list img {margin-top:5px; border:1px solid #ccc; padding:2px;}
/*cse*/
.gsc-adBlock, .gsc-adBlockVertical { display:none !important; }
/*menu*/
#nav {height:28px; float:right; margin:36px 0px 0 0; width:730px; display:block;}
#nav .jquery_out {float:left;line-height:28px;display:block; border-right:0px solid #fff; text-align:center; color:#fff;font:18px/32px "微软雅黑"; background:#062723 url(/images/slide-panel_03.png) 0 0 repeat-x;}
#nav .jquery_out .smile {padding-left:1em;}
#nav .jquery_inner {margin-left:16px;}
#nav .jquery {margin-right:1px;padding:0 2em;}
#nav .mainlevel { float:left; border-right:0px solid #fff; width:110px;/*IE6 only*/}
#nav .mainlevel01 { float:left;  width:4px;/*IE6 only*/}
#nav .mainlevel a {color:#333; text-decoration:none; line-height:28px; display:block; padding:0 0px; width:110px; text-align:center; font-size:14px; font-weight:bold;  }
#nav .mainlevel a:hover {color:#333; text-decoration:none; }
#nav .mainlevel ul {display:none; position:absolute;}
#nav .mainlevel li {border-top:1px solid #fff; background:#62f545; width:110px;/*IE6 only*/ }
.log {text-align:center; color:skyblue; line-height:28px; text-transform:capitalize; margin:50px auto;}
.clear {clear:both; *display:inline;/*IE only*/}
.mainlevel02 { float:left; border-right:0px solid #fff; width:110px;/*IE6 only*/ color:#47b030; font-size:14px; font-weight:bold; text-align:center; line-height:28px; }
.form01 {width:80px; height:20px; line-height:20px; padding-left:4px;}
.form02 {width:250px; line-height:18px; padding-left:4px;}
/* common styling */
.menu { font-family: "宋体"; width:700px; position:relative; margin:0; font-size:12px; margin:38px 0 0 0; float:right; }
.menu ul li a, .menu ul li a:visited { display:block; text-decoration:none; color:#000; width:110px; height:28px; text-align:center; color:#333; border-right:1px solid #e9e9e9; border-left:1px solid #e9e9e9; line-height:28px; font-size:12px; overflow:hidden; }
.menu ul { padding:0px 0 0 0; margin:0; list-style-type: none; }
.menu ul li { float:left; margin-right:0px; position:relative; }
.menu ul li ul { display: none; }
.dazi { font-size:14px; }
.opt { background:url(/images/menu_bg.jpg); width:110px; height:28px; line-height:28px; text-align:center; color:#FFF; font-size:14px; font-weight:bold; border-right:1px solid #e9e9e9;}
.opt01 { width:110px; height:28px; line-height:28px; text-align:center; color:#47b030; font-size:14px; font-weight:bold; border-right:1px solid #e9e9e9;  border-left:1px solid #e9e9e9;}
/* specific to non IE browsers */
.menu ul li:hover a { color:#fff; background:url(/images/menu_bg.jpg); }
.menu ul li:hover ul { display:block; position:absolute; top:28px; left:6; width:105px; }
.menu ul li:hover ul li a.hide { background:url(/images/menu03_bg.jpg); color:#333; }
.menu ul li:hover ul li:hover a.hide { background:url(/images/menu04_bg.jpg); color:#fff; }
.menu ul li:hover ul li ul { display: none; }
.menu ul li:hover ul li a { display:block; background: url(/images/menu01_bg.jpg); color:#333; height:25px; line-height:25px; }
.menu ul li:hover ul li a:hover { background: url(/images/menu02_bg.jpg); color:#fff; height:25px; line-height:25px; }
.menu ul li:hover ul li:hover ul { display:block; position:absolute; left:111px; top:0; }
.menu ul li:hover ul li:hover ul.left { left:-111px; }


.menu ul li a.hide, .menu ul li a:visited.hide {_display:none; /*IE6 only*/}
.menu ul li a:hover ul li a.hide {_display:none; /*IE6 only*/}
.menu ul li a:hover {color:#fff; background:url(/images/menu_bg.jpg);}
.menu ul li a:hover ul {display:block; position:absolute; top:28px; left:0; width:105px; }
.menu ul li a:hover ul li a.sub {background:url(/images/menu03_bg.jpg); color:#333; }
.menu ul li a:hover ul li a.sub:hover {background:url(/images/menu04_bg.jpg); color:#fff; }
.menu ul li a:hover ul li a {display:block; background: url(/images/menu01_bg.jpg); color:#333; height:25px; line-height:25px; }
.menu ul li a:hover ul li a ul {visibility:hidden; } 
.menu ul li a:hover ul li a:hover {background: url(/images/menu02_bg.jpg); color:#fff; height:25px; line-height:25px;}
.menu ul li a:hover ul li a:hover ul {visibility:visible; position:absolute; left:111px; top:0; color:#000; }
.menu ul li a:hover ul li a:hover ul.left {left:-111px;}
