<div class="footernav">
	<a href="/html/en/about-us.html">About Us</a>
	|<a href="/html/en/get-to-know-solar-power.html">Products & Technologies</a>
	|<a href="/html/en/news-company.html">Media</a>
	|<a href="/html/en/job-list.html">Human Resource</a>
	|<a href="/html/en/contactus.html">Contact Us</a>
</div>