<div class="footernav">
	<a href="/html/cn/about-us.html">关于我们</a>
	|<a href="/html/cn/get-to-know-solar-power.html">产品与技术</a>
	|<a href="/html/cn/news-company.html">新闻中心</a>
	|<a href="/html/cn/job-list.html">人力资源</a>
	|<a href="/html/cn/contactus.html">联系我们</a>
</div>