<ul>
	<li><a style="width:52px;" class="hide" href="/lang-en"><b class="dazi">Home</b></a>
		<!--[if lte IE 6]>
		<a style="width:52px;" href="/lang-en"><b class="dazi">Home</b>
		<table><tr><td>
		<![endif]-->
		<!--[if lte IE 6]>
		</td></tr></table>
		</a>
		<![endif]-->
	</li>
	<li><a style="width:70px;" class="hide" href="/about/aboutus/lang-en"><b class="dazi">About us</b></a>
		<!--[if lte IE 6]>
		<a style="width:70px;" href="/about/aboutus/lang-en"><b class="dazi">About us</b>
		<table><tr><td>
		<![endif]-->
		<ul>
			<li><a style="width:130px;" href="/about/aboutus/lang-en" title="About Ideal Energy">About Ideal Energy</a></li>
			<li><a style="width:130px;" href="/about/team/lang-en" title="Management Team">Management Team</a></li>
			<li><a style="width:130px;" href="/about/history/lang-en" title="Company Milestones">Company Milestones</a></li>
			<!--<li><a style="width:130px;" href="/about/ip/lang-en" title="intellectual property">intellectual property</a></li>-->
		</ul>
		<!--[if lte IE 6]>
		</td></tr></table>
		</a>
		<![endif]-->
	</li>
	<li><a style="width:188px;" class="hide" href="/products/solar/get-to-know-solar-power/lang-en"><b class="dazi">Products & Technologies</b></a>
		<!--[if lte IE 6]>
		<a style="width:188px;" href="/products/solar/get-to-know-solar-power/lang-en"><b class="dazi">Products & Technologies</b>
		<table><tr><td>
		<![endif]-->
		<ul>
			<li><a class="hide" href="/products/solar/get-to-know-solar-power/lang-en" title="">Solar</a>
				<!--[if lte IE 6]>
				<a class="sub" href="/products/solar/get-to-know-solar-power/lang-en" title="">Solar
				<table><tr><td>
				<![endif]-->
				<ul>
					<li><a style="width:120px;" href="/products/solar/get-to-know-solar-power/lang-en" title="了解太阳能">Understand Solar</a></li>
					<li><a style="width:120px;" href="/products/solar/lpcvd/lang-en" title="LPCVD">LPCVD</a></li>
					<li><a style="width:120px;" href="/products/solar/pecvd/lang-en" title="PECVD">PECVD</a></li>
					<!--<li><a style="width:120px;" href="/products/solar/solar-roadmap/lang-en" title="Roadmap">Roadmap</a></li>-->
				</ul>
				<!--[if lte IE 6]>
				</td></tr></table>
				</a>
				<![endif]-->
			</li>
			<li><a class="hide" href="/products/led/get-to-know-led/lang-en" title="LED外延片制造设备">LED</a>
				<!--[if lte IE 6]>
				<a class="sub" href="/products/led/get-to-know-led/lang-en" title="">LED
				<table><tr><td>
				<![endif]-->
				<ul>
					<li><a style="width:120px;" href="/products/led/get-to-know-led/lang-en" title="LED外延片制造设备">Understand LED</a></li>
					<li><a style="width:120px;" href="/products/led/mocvd/lang-en" title="MOCVD">MOCVD</a></li>
				</ul>
				<!--[if lte IE 6]>
				</td></tr></table>
				</a>
				<![endif]-->
			</li>
		</ul>
		<!--[if lte IE 6]>
		</td></tr></table>
		</a>
		<![endif]-->
	</li>
	<li><a style="width:54px;" class="hide" href="/media/company/lang-en"><b class="dazi">Media</b></a>
		<!--[if lte IE 6]>
		<a style="width:54px;" href="/media/company/lang-en"><b class="dazi">Media</b>
		<table><tr><td>
		<![endif]-->
		<ul>
			<li><a style="width:150px;" href="/media/company/lang-en" title="Company News">Company News</a></li>
			<li><a style="width:150px;" href="/media/report/lang-en" title="Ideal Energy In The News">Ideal Energy In The News</a></li>
			<li><a style="width:150px;" href="/media/pics/lang-en" title="Pictures">Pictures</a></li>
			<li><a style="width:150px;" href="/media/videos/lang-en" title="Videos">Videos</a></li>
		</ul>
		<!--[if lte IE 6]>
		</td></tr></table>
		</a>
		<![endif]-->
	</li>
	<li><a style="width:122px;" class="hide" href="/hr/job-list/lang-en"><b class="dazi">Human Resource</b></a>
		<!--[if lte IE 6]>
		<a style="width:122px;" href="/hr/job-list/lang-en"><b class="dazi">Human Resource</b>
		<table><tr><td>
		<![endif]-->
		<ul>
			<li><a style="width:122px;" href="/hr/job-list/lang-en" title="Careers">Careers</a></li>
			<!--<li><a href="/hr/team-building/lang-en" title="Team Building">Team Building</a></li>-->
		</ul>
		<!--[if lte IE 6]>
		</td></tr></table>
		</a>
		<![endif]-->
	</li>
	<li><a style="width:78px;" class="hide" href="/contactus/lang-en"><b class="dazi">Contact us</b></a>
		<!--[if lte IE 6]>
		<a style="width:78px;" href="/contactus/lang-en"><b class="dazi">Contact us</b>
		<table><tr><td>
		<![endif]-->
		<!--[if lte IE 6]>
		</td></tr></table>
		</a>
		<![endif]-->
	</li>
</ul>