<ul>
	<li><a class="hide" href="/lang-cn"><b class="dazi">首 页</b></a>
		<!--[if lte IE 6]>
		<a href="/lang-cn"><b class="dazi">首 页</b>
		<table><tr><td>
		<![endif]-->
		<!--[if lte IE 6]>
		</td></tr></table>
		</a>
		<![endif]-->
	</li>
	<li><a class="hide" href="/about/aboutus/lang-cn"><b class="dazi">关于我们</b></a>
		<!--[if lte IE 6]>
		<a href="/about/aboutus/lang-cn"><b class="dazi">关于我们</b>
		<table><tr><td>
		<![endif]-->
		<ul>
			<li><a href="/about/aboutus/lang-cn" title="关于理想能源">关于理想能源</a></li>
			<li><a href="/about/team/lang-cn" title="管理团队">管理团队</a></li>
			<li><a href="/about/history/lang-cn" title="大事记">大事记</a></li>
			<!--<li><a href="/about/ip/lang-cn" title="知识产权及专利">知识产权及专利</a></li>-->
		</ul>
		<!--[if lte IE 6]>
		</td></tr></table>
		</a>
		<![endif]-->
	</li>
	<li><a class="hide" href="/products/solar/get-to-know-solar-power/lang-cn"><b class="dazi">产品与技术</b></a>
		<!--[if lte IE 6]>
		<a href="/products/solar/get-to-know-solar-power/lang-cn"><b class="dazi">产品与技术</b>
		<table><tr><td>
		<![endif]-->
		<ul>
			<li><a class="hide" href="/products/solar/get-to-know-solar-power/lang-cn" title="">太阳能电池设备</a>
				<!--[if lte IE 6]>
				<a class="sub" href="/products/solar/get-to-know-solar-power/lang-cn" title="">太阳能电池设备
				<table><tr><td>
				<![endif]-->
				<ul>
					<li><a href="/products/solar/get-to-know-solar-power/lang-cn" title="了解太阳能">了解太阳能电池</a></li>
					<li><a href="/products/solar/lpcvd/lang-cn" title="LPCVD">LPCVD</a></li>
					<li><a href="/products/solar/pecvd/lang-cn" title="PECVD">PECVD</a></li>
				</ul>
				<!--[if lte IE 6]>
				</td></tr></table>
				</a>
				<![endif]-->
			</li>
			<li><a class="hide" href="/products/led/get-to-know-led/lang-cn" title="LED外延片制造设备">LED外延片设备</a>
				<!--[if lte IE 6]>
				<a class="sub" href="/products/led/get-to-know-led/lang-cn" title="">LED外延片设备
				<table><tr><td>
				<![endif]-->
				<ul>
					<li><a href="/products/led/get-to-know-led/lang-cn" title="LED外延片制造设备">了解LED</a></li>
					<li><a href="/products/led/mocvd/lang-cn" title="MOCVD">MOCVD</a></li>
				</ul>
				<!--[if lte IE 6]>
				</td></tr></table>
				</a>
				<![endif]-->
			</li>
		</ul>
		<!--[if lte IE 6]>
		</td></tr></table>
		</a>
		<![endif]-->
	</li>
	<li><a class="hide" href="/media/company/lang-cn"><b class="dazi">新闻中心</b></a>
		<!--[if lte IE 6]>
		<a href="/media/company/lang-cn"><b class="dazi">新闻中心</b>
		<table><tr><td>
		<![endif]-->
		<ul>
			<li><a href="/media/company/lang-cn" title="公司新闻">公司新闻</a></li>
			<li><a href="/media/report/lang-cn" title="相关报道">相关报道</a></li>
			<li><a href="/media/pics/lang-cn" title="图片集锦">图片集锦</a></li>
			<li><a href="/media/videos/lang-cn" title="视频资料">视频资料</a></li>
		</ul>
		<!--[if lte IE 6]>
		</td></tr></table>
		</a>
		<![endif]-->
	</li>
	<li><a class="hide" href="/hr/job-list/lang-cn"><b class="dazi">人力资源</b></a>
		<!--[if lte IE 6]>
		<a href="/hr/job-list/lang-cn"><b class="dazi">人力资源</b>
		<table><tr><td>
		<![endif]-->
		<ul>
			<li><a href="/hr/job-list/lang-cn" title="职业发展">职业发展</a></li>
			<!--<li><a href="/hr/team-building/lang-cn" title="团队建设">团队建设</a></li>-->
		</ul>
		<!--[if lte IE 6]>
		</td></tr></table>
		</a>
		<![endif]-->
	</li>
	<li><a class="hide" href="/contactus/lang-cn"><b class="dazi">联系我们</b></a>
		<!--[if lte IE 6]>
		<a href="/contactus/lang-cn"><b class="dazi">联系我们</b>
		<table><tr><td>
		<![endif]-->
		<!--[if lte IE 6]>
		</td></tr></table>
		</a>
		<![endif]-->
	</li>
</ul>