<div class="header">
	<div class="logo"><a href="/html/cn/index.html"><img src="/images/logo.jpg" /></a></div>
	<!--导航-->
	<div class="menu">

		<%= render :partial => "shared/navigation" %>
		
	</div>
	<!--导航结束-->
</div>
