<div class="search">
	<table width="200" border="0" cellpadding="0" cellspacing="5">
		<tr>
			<td><form accept-charset="utf-8" method="get" action="/html/search.html" id="search_frm">
				<input id="search_input" class="form" type="search" name="q" />
			</form></td>
			<td><a href="#" onClick="$('#search_frm').submit();"><img src="/images/search.png" /></a></td>
			<td nowrap>&nbsp;</td>
			<td nowrap><a id="lang_cn" href="#">中文</a></td>
			<td nowrap>|</td>
			<td nowrap><a id="lang_en" href="#">English</a></td>
		</tr>
	</table>
</div>