<div class="leftnav03">
<r:parent>
  <ul>
  <r:children:each by="position" order="asc">
    <li><a href="<r:url />" id="sn_<r:slug />"><r:title /></a></li>
  </r:children:each>
  </ul>
</r:parent>
</div>