<div class="flash" id="hero">
	<script type="text/javascript" src="/javascripts/swfobject.js"></script> 
	<script type="text/javascript">
	var so = new SWFObject("/swf/flash1.swf", "gallery", "944", "286", "6", "#ffffff");
	so.addParam("quality", "high");
	so.addParam("wmode", "transparent");
	so.write("hero");
	</script>
</div>
<div class="content">
	<div class="products" >
		<div class="title"><b>产品与技术</b></div>
		<div class="products01">
			<div class="products01_a">
				<div class="products01_a_img"><a href="/html/cn/lpcvd.html"><img src="/images/index.lpcvd.jpg"></a></div>
				<div class="products01_a_intro">低压化学气相沉积（LPCVD）设备</div>
				<div class="more"><a class="font01" href="/html/cn/lpcvd.html">详细信息</a></div>
			</div>
			<div class="products01_a">
				<div class="products01_a_img"><a href="/html/cn/pecvd.html"><img src="/images/index.pecvd.jpg"></a></div>
				<div class="products01_a_intro">等离子体增强型化学气相沉积（PECVD）设备 </div>
				<div class="more"><a class="font01" href="/html/cn/pecvd.html">详细信息</a></div>
			</div>
			<div class="products01_a">
				<div class="products01_a_img"><a href="/html/cn/mocvd.html"><img src="/images/index.mocvd.jpg"></a></div>
				<div class="products01_a_intro">金属有机物化学气相沉淀（MOCVD）设备</div>
				<div class="more"><a class="font01" href="mocvd.html">详细信息</a></div>
			</div>
			<div class="blank0"></div>
		</div>
	</div>
	<div class="news">
		<div class="title"><b>新闻中心</b></div>
		<!--新闻列表-->
		<div >
			<div class="list"><span>2011-03</span><span class="line">|</span><span class="newstitle"><a href="/html/cn/news-company.html">获得等离子增强化学气相沉积设备控制软件著作权</a></span>
				<div class="blank0"></div>
			</div>
			<div class="list"><span>2011-01</span><span class="line">|</span><span class="newstitle"><a href="/html/cn/news-video.html">等离子体增强型化学气相沉积设备(PECVD)成功下线</a></span>
				<div class="blank0"></div>
			</div>
			<div class="list"><span>2010-09</span><span class="line">|</span><span class="newstitle">LPCVD获得首份订单</span>
				<div class="blank0"></div>
			</div>
			<div class="list"><span>2010-07</span><span class="line">|</span><span class="newstitle"><a href="/html/cn/news-company.html">获得LPCVD控制软件著作权</a></span>
				<div class="blank0"></div>
			</div>
			<div class="list"><span>2010-05</span><span class="line">|</span><span class="newstitle"><a href="/html/cn/news-pics.html">上海市委书记俞正声一行视察理想能源</a></span>
				<div class="blank0"></div>
			</div>
			<div class="list"><span>2010-04</span><span class="line">|</span><span class="newstitle">理想能源首台LPCVD设备通过功能测试</span>
				<div class="blank0"></div>
			</div>
			<div class="list"><span>2009-08</span><span class="line">|</span><span class="newstitle">理想能源设备（上海）有限公司成立</span>
				<div class="blank0"></div>
			</div>
		</div>
		<!--新闻列表结束-->
		<div class="more"><a class="font01" href="/html/cn/news-company.html">更多新闻</a></div>
	</div>
	<div class="blank0"></div>

</div>
<div><img src="/images/contentbg.gif"></div>