<div class="flash" id="hero">
	<script type="text/javascript" src="/javascripts/swfobject.js"></script> 
	<script type="text/javascript">
	var so = new SWFObject("/swf/flash1.swf", "gallery", "944", "286", "6", "#ffffff");
	so.addParam("quality", "high");
	so.addParam("wmode", "transparent");
	so.write("hero");
	</script>
</div>
<div class="content">
	<div class="products" >
		<div class="title"><b style="font-size:13px;">Products & Technologies</b></div>
		<div class="products01">
			<div class="products01_a">
				<div class="products01_a_img"><a href="/html/en/lpcvd.html"><img src="/images/index.lpcvd.en.jpg"></a></div>
				<div class="products01_a_intro_en">Low Pressure<br>Chemical Vapor Deposition<br>(LPCVD)</div>
				<div class="more"><a class="font01" href="/html/en/lpcvd.html">more</a></div>
			</div>
			<div class="products01_a">
				<div class="products01_a_img"><a href="/html/en/pecvd.html"><img src="/images/index.pecvd.en.jpg"></a></div>
				<div class="products01_a_intro_en">Plasma-enhanced<br>Chemical Vapor Deposition<br>(PECVD)</div>
				<div class="more"><a class="font01" href="/html/en/pecvd.html">more</a></div>
			</div>
			<div class="products01_a">
				<div class="products01_a_img"><a href="/html/en/mocvd.html"><img src="/images/index.mocvd.en.jpg"></a></div>
				<div class="products01_a_intro_en">Metalorganic<br>Chemical Vapor Deposition<br>(MOCVD)</div>
				<div class="more"><a class="font01" href="mocvd.html">more</a></div>
			</div>
			<div class="blank0"></div>
		</div>
	</div>
	<div class="news">
		<div class="title"><b style="font-size:13px;">Media</b></div>
		<!--新闻列表-->
		<div >
			<div class="list"><span>2011-03</span><span class="line">|</span><span class="newstitle"><a href="/html/en/news-company.html">Received "Copyright certificate" of PECVD software controlling system</a></span>
				<div class="blank0"></div>
			</div>
			<div class="list"><span>2011-01</span><span class="line">|</span><span class="newstitle"><a href="/html/en/news-video.html">Launches PECVD system for tandem junction thin-film solar cell production</a></span>
				<div class="blank0"></div>
			</div>
			<div class="list"><span>2010-09</span><span class="line">|</span><span class="newstitle">First order of Ideal Energy LPCVD system received</span>
				<div class="blank0"></div>
			</div>
			<div class="list"><span>2010-07</span><span class="line">|</span><span class="newstitle"><a href="/html/en/news-company.html">Received “Copyright certificate” of LPCVD software controlling system</a></span>
				<div class="blank0"></div>
			</div>
			<div class="list"><span>2010-05</span><span class="line">|</span><span class="newstitle"><a href="/html/en/news-pics.html">Zhengsheng Yu, the secretary of Shanghai, visits Ideal Energy</a></span>
				<div class="blank0"></div>
			</div>
			<div class="list"><span>2010-04</span><span class="line">|</span><span class="newstitle">The first LPCVD system of Ideal Energy successfully passed the functional test</span>
				<div class="blank0"></div>
			</div>
			<div class="list"><span>2009-08</span><span class="line">|</span><span class="newstitle">Ideal Energy Equipment (Shanghai) Ltd. established</span>
				<div class="blank0"></div>
			</div>
		</div>
		<!--新闻列表结束-->
		<div class="more"><a class="font01" href="/html/en/news-company.html">more</a></div>
	</div>
	<div class="blank0"></div>

</div>
<div><img src="/images/contentbg.gif"></div>